---
import { resolve } from "path";
import { readFileSync } from "fs";
import { stl } from "helpers/common";

const { path, version = "latest", project = "style" } = Astro.props;

const route = `/hx/ec/${version}/${project}/${path.replace(/^(kit\.|style\.)/, "").replace(".", "/")}`;

let lines = 0;

const safelist: any = {
  "style.installation.css": 4,
  "style.installation.js": 4,
  "kit.installation.chart": 4,
  "kit.installation.tailwind_v4": 1,
  "kit.installation.cdn": 4,
  "kit.installation.javascript": 49,
};

if (Object.keys(safelist).includes(`${project}.${path}`)) {
  lines = safelist[`${project}.${path}`];
} else {
  const file = resolve(
    "src",
    "pages",
    "hx",
    "ec",
    version,
    project,
    `${path.replace(".", "/")}.mdx`,
  );

  try {
    const fileContent = readFileSync(file, "utf-8").trim();

    const codeBlockRegex = /```([\w]+(?:\s+\w+={?[\w-]+}?)*?)\n([\s\S]*?)```/g;
    let match;
    let totalLines = 0;

    while ((match = codeBlockRegex.exec(fileContent)) !== null) {
      const codeBlock = match[2];
      const lines = codeBlock.split("\n").length;
      totalLines += lines;
    }

    lines = totalLines - 1;
  } catch (error) {
    console.error(`Error reading file from ${path}:`, error);
  }
}
---

<div
  class="ec mt bg uk-shadow uk-rounded border-w border"
  style={stl({
    "--mt": "6",
    "--bg": "#17191e",
    "--border-w": "1px",
    "--border": "#858b9833",
  })}
>
  <div
    hx-trigger="intersect"
    hx-get={route}
    hx-select="pre"
    hx-swap="outerHTML"
    style={stl({
      height: `calc((${lines} * var(--uk-global-line-height)) + (var(--highlighter-padding) * 2))`,
    })}
  >
  </div>
</div>
