---
import Monster from "src/assets/monster.svg";
import { stl } from "helpers/common";
import ProjectSwitcher from "./project-switcher.astro";

const { project = "style", projectSwitcher = true, menu = true } = Astro.props;
---

<div
  class="fixed inset-x top z border-b-w border-b/o"
  style={stl({
    "--inset-x": "0",
    "--top": "0",
    "--z": "20",
    "--border-b-w": "1px",
    "--border-b": "var(--uk-border)",
    "--border-b-o": "var(--uk-border-o)",
  })}
>
  <div
    class="bg color"
    style={stl({
      "--bg": "var(--uk-bg)",
      "--color": "var(--uk-bg-f)",
    })}
  >
    <div
      class="display-flex h items-center justify-between gap px sm:px md:px"
      style={stl({
        "--h": "14",
        "--gap": "8",
        "--px": "4",
        "--sm-px": "2",
        "--md-px": "6",
      })}
    >
      <div
        class="display-flex items-center gap"
        style={stl({
          "--gap": "4",
        })}
      >
        <a class="uk-focus-visible display-hidden lg:display-block" href="/">
          <Monster
            id="monster"
            height={48}
            width={48}
            class:list="fill stroke"
            style={stl({
              "--fill": "var(--uk-bg-f)",
              "--stroke": "var(--uk-bg-f)",
            })}
          />
        </a>

        {projectSwitcher ? <ProjectSwitcher project={project} /> : ""}

        {
          menu ? (
            <button
              class="uk-button uk-button-secondary uk-button-icon uk-button-xsmall lg:display-hidden"
              data-uk-toggle="#menu"
            >
              <uk-icon
                class="size"
                style={stl({
                  "--size": "4",
                })}
                icon="menu"
              />
            </button>
          ) : (
            ""
          )
        }
      </div>
      <div
        class="display-flex items-center gap"
        style={stl({
          "--gap": "2",
        })}
      >
        <div
          class="display-flex gap-x"
          style={stl({
            "--gap-x": "2",
          })}
        >
          <button
            class="uk-button uk-button-default uk-button-xsmall"
            data-uk-toggle="#search"
          >
            <uk-icon class="size" style="--size: 4" icon="search"></uk-icon>
            <span class="">Search</span>
          </button>
          <uk-lsh
            class="size"
            style={stl({
              "--size": "8",
            })}
            toggle
            group="mode"
            cls="uk-button uk-button-icon uk-button-secondary uk-button-xsmall relative"
          >
            <template data-fn="template">
              <uk-icon
                class="dark-slide-icon dark-slide-moon dark:dark-slide-moon"
                icon="moon"
              >
              </uk-icon>
              <uk-icon
                class="dark-slide-icon dark-slide-sun dark:dark-slide-sun"
                icon="sun"
              >
              </uk-icon>
            </template>
          </uk-lsh>

          <div class="uk-inline">
            <button
              class="uk-button uk-button-icon uk-button-secondary uk-button-xsmall"
              type="button"
            >
              <uk-icon
                class="size"
                style={stl({
                  "--size": "4",
                })}
                icon="settings"
              >
              </uk-icon>
            </button>
            <div
              class="uk-drop min-w p bg border-w border/o"
              style={stl({
                "--min-w": "80",
                "--p": "4",
                "--bg": "var(--uk-drop)",
                "--border-w": "1px",
                "--border": "var(--uk-border)",
                "--border-o": "var(--uk-border-o)",
              })}
              data-uk-drop="mode: click; pos: bottom-right; offset: 16px"
            >
              <div
                class="space-y"
                style={stl({
                  "--space-y": "6",
                })}
              >
                {
                  [
                    {
                      label: "Choose a layout",
                      group: "layout",
                      options: [
                        { value: "uk-layout-small", text: "Sm" },
                        { value: "uk-layout-default", text: "Base" },
                        { value: "uk-layout-medium", text: "Md" },
                      ],
                    },
                    {
                      label: "Font family",
                      group: "ff",
                      options: [
                        {
                          value: "uk-ff-a",
                          text: "Option A",
                        },
                        {
                          value: "uk-ff-b",
                          text: "Option B",
                        },
                      ],
                    },
                  ].map((a) => (
                    <div>
                      <div class="uk-form-label">{a.label}</div>
                      <div
                        class="display-flex gap-x mt"
                        style={stl({
                          "--gap-x": "2",
                          "--mt": "2",
                        })}
                      >
                        {a.options.map((b) => (
                          <uk-lsh
                            group={a.group}
                            value={b.value}
                            cls="ts uk-button uk-button-default uk-button-xsmall"
                          >
                            <template data-fn="template">
                              <uk-icon
                                class="ts-icon color"
                                style={stl({
                                  "--color": "var(--color-blue-500)",
                                })}
                                icon="check"
                              />
                              {b.text}
                            </template>
                          </uk-lsh>
                        ))}
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
